:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    /* (graphic design text) */
    --Dark-desaturated-cyan : hsl(167, 40%, 24%);
    /* (photography text) */
    --Dark-blue : hsl(198, 62%, 26%);
    /* (footer) */
    --Dark-moderate-cyan : hsl(168, 34%, 41%);


    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    font-size: 18px;

    --Barlow : 'Barlow', sans-serif;
    --Fraunces: 'Fraunces', serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER & NAVIGATION */
header{
    position: absolute;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding-top: 30px;
}

#logo{
    margin-left: 100px ;
}

nav{
   font-family: var(--Barlow);
   margin-left: 1000px;
}
nav #hamburger{
    display: none;
}
nav ul li{
    display: inline-block;
    padding: 0 30px;
}
nav ul li a{
    color: var(--White);
    text-decoration: none;
}
ul li{
    list-style: none;
}

#btn-contact{
    background-color: var(--White);
    margin: 0 100px 0 0;
    font-family: var(--Fraunces);
    text-transform: uppercase;
    border: none;
    padding: 20px 30px;
    border-radius: 40px;
}
#btn-contact a{
    color: var(--Very-dark-desaturated-blue);
    text-decoration: none;
}

/* HERO SECTION */
#hero{
    height: 100vh;
    background-image: url(/assets/images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: -100px;
}
#hero div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero h1{
    text-align: center;
    padding: 200px 0;
    font-size: 3em;
    color: var(--White);
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: var(--Fraunces);
}
#hero img{
    width: 36px;
    margin-top: 50px;
}

/* Middle sections */

.middle-section{
    display: flex;
    height: 800px;
}
.middle-section img{
    width: 50vw;
}
.middle-section article h2{
    padding: 200px 200px 60px;
    font-family: var(--Fraunces);
    font-size: 3em;
}
.middle-section article p{
    padding: 0 200px 60px 200px;
    font-family: var(--Barlow);
    font-size: 1.2em;
    line-height: 40px;
    color: var(--Dark-grayish-blue);
}
.middle-section article a{
    color: black;
    font-family: var(--Fraunces);
    font-size: 1.4em;
    padding: 0 200px;
}

.yellow{
    text-decoration: underline hsla(51, 100%, 49%, 0.24) 5px;
}
.orange{
    text-decoration: underline hsla(7, 99%, 70%, 0.24) 5px;
}
#graphic-design{
    background-image: url(/assets/images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 800px;
}
#photography{
    background-image: url(/assets/images/desktop/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 800px;
}
.label{
    margin: 300px 0 0 0;
    padding: 0 40px;
    text-align: center;
}
#graphic-design .label h2,#graphic-design .label p{
    color: var(--Dark-desaturated-cyan);
}
#photography .label h2,#photography .label p{
    color: var(--Dark-blue);
}
#testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#testimonials h2{
    margin-top: 150px;
    color: var(--Grayish-blue);
    font-size: 1.2em;
    font-family: var(--Fraunces);
    letter-spacing: 5px;
    text-transform: uppercase;
}
#testimonials-wrapper{
    display: flex;
    height: 50vh;
    align-items: center; 
}
#testimonials-wrapper article{
    text-align: center;
    margin: 0 150px;
}

#testimonials-wrapper img{
    border-radius: 50%;
    width: 70px;
}
#testimonials-wrapper p{
    font-family: var(--Barlow);
    line-height: 30px;
    margin: 50px 0 15px;
    color: var(--Very-dark-grayish-blue);
}
#testimonials-wrapper .name{
    color: black;
    font-family: var(--Fraunces);
    font-size: 1.2em;
}
#testimonials-wrapper h3{
    font-family: var(--Barlow);
    color: var(--Grayish-blue);
    font-size: 1em;
}

#prefooter-photos{
    display: flex;
}
#prefooter-photos img{
    width: 100%;
}

footer{
    background-color: #9cdbd0;
    color: var(--Dark-desaturated-cyan);
    text-align: center;
    height: 40vh;
    margin-top: -4px;
}
footer h2{
    text-transform: lowercase;
    font-family: var(--Fraunces);
    font-size: 2.5em;
    padding: 50px 0 0 0;
}
footer ul{
    margin-top: 50px;
}
footer ul li{
    display: inline-block;
    margin: 0 30px;
    font-family: var(--Barlow);
}
#icons li{
    margin: 0 15px;
}
footer #icons img{
    margin-top: 80px;
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media  screen and (max-width: 1440px) {
    nav{
        margin-left: 550px;
     }
     
     #hero img{
        margin-top: -100px;
    }
    .middle-section{
        height: 600px;
    }
     .middle-section article h2{
        padding: 140px 140px 40px;
        font-family: var(--Fraunces);
        font-size: 2.2em;
    }
    .middle-section article p{
        padding: 0 130px 40px 140px;
        font-family: var(--Barlow);
        line-height: 30px;
        color: var(--Dark-grayish-blue);
    }
    .middle-section article a{
        color: black;
        font-family: var(--Fraunces);
        padding: 0 140px;
    }
    #graphic-design{
        height: 600px;
    }
    #photography{
        height: 600px;
    }
    .label{
        margin: 200px 0 0 0;
    }
    #graphic-design .label p,  
    #photography .label p{
        font-size: 1.1em;
        margin: 0;
        padding: 0 100px;
        
    }
    
    #testimonials{
        padding: 50px 0 150px;
    }

    #testimonials-wrapper{
        padding: 0 70px;
    }

    #testimonials-wrapper article{
        margin: 0 30px;
    }
    

    @media  screen and (max-width: 1280px) {
        #hamburger{
            display: block
        }
        nav{
            margin-left: 370px;
         }
        #hero h1{
            font-size: 2.5em;
            
        }
        #hero img{
            width: 36px;
            margin-top: -130px;
        }
        .middle-section{
            height: 533px;
        }
         .middle-section article h2{
            padding: 100px 140px 40px;
            font-size: 2em;
        }
        .middle-section article p{
            padding: 0 80px 40px 140px;
            font-size: 1.1em;
        }
        .middle-section article a{
            padding: 0 140px;
        }
        .label{
            margin: 250px 0 0 0;
        }
        #graphic-design .label p,  
        #photography .label p{
            font-size: 1.1em;
            margin: 0;
            padding: 0 100px;
            
        }
        
        footer h2{
            font-size: 2em;
        }
        footer #icons img{
            margin-top: 40px;
            
        }

    }


    @media  screen and (max-width: 768px) {
        header{
            position: absolute;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
            padding-top: 30px;
        }
        
        #logo{
            margin-left: 70px ;
        }
       
        nav #hamburger{
            display: block;
            margin: 0 0 0 100px;
            cursor: pointer;
            position: relative;
            bottom: 130px;
        }
         /* #mob-menu{
            display: none;
        }  */
        nav ul{
            background-color: var(--White);
            position: relative;
            top: 200px;
            right: 525px;
            width: 90vw;
            height: 30vh;
        }
        nav ul li{
            padding: 0 30px;
            display: flex;
            justify-content: center;
            
            
            
        }
        nav ul li a{
            color: var(--Dark-grayish-blue);
            text-decoration: none;
        }
        ul li{
            list-style: none;
        }
        
        #btn-contact{
            background-color: var(--Yellow);
            margin: 0 100px 0 30px;
            font-family: var(--Fraunces);
            text-transform: uppercase;
            border: none;
            padding: 20px 30px;
            border-radius: 40px;
        }
        #btn-contact a{
            color: var(--Very-dark-desaturated-blue);
            text-decoration: none;
        }

    }





    @media  screen and (max-width: 375px) {

        
    }
}